.example-button-row button,
.example-button-row a {
    margin-right: 8px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100 !important;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

.centrador {
    position: relative;
}

.imagen {
    width: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}

.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}