.card {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
}

.card-pricing {
    text-align: center;
}

.col-lg-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.card-pricing .card-icon i {
    font-size: 55px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    width: 130px;
    line-height: 130px;
    height: 130px;
}