<!-- <div class="main-content">
  <div class="container-fluid"> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">REGISTRAR PEDIDOS</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombres" (input)="persona.nombre=persona.nombre.toUpperCase()"
                      name="nombre" [(ngModel)]="persona.nombre" id="nombre" required type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Apellidos" (input)="persona.apellido=persona.apellido.toUpperCase()"
                      name="apellido" [(ngModel)]="persona.apellido" type="text">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">

                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Telefono" name="telefono" [(ngModel)]="persona.telefono" type="number">
                    <mat-icon matSuffix>phone</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="example-margin">Sexo:</label><br />
                  <mat-radio-group [(ngModel)]="pedido.sexo" name="sexo" (change)="listarPiezas()">
                    <mat-radio-button value="M">Hombre</mat-radio-button>
                    <mat-radio-button value="F">Mujer</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-10 col-md-6">
                  <mat-form-field>
                    <mat-label>Pieza:</mat-label>
                    <select matNativeControl (change)="selectPieza()" [(ngModel)]="idpiezaSelect" name="piezaselect">
                      <option value="0">Selecione Pieza</option>
                      <option *ngFor="let pieza of piezas" [value]="pieza.id">
                        {{pieza.nombre}}
                      </option>
                    </select>

                  </mat-form-field>

                </div>
                <div class="col-2 col-md-2">
                  <button type="button" class="botonF1" [disabled]="!agregarPieza" (click)="modalPiezas.show()"
                     >
                    <span>+</span>
                  </button>
                </div>
                <div class="col-12 col-md-12">
                  <div *ngIf="!piezasAdd.length==0" class="overflow-auto" [ngClass]="{
                    'piezas1':piezasAdd.length==1,
                    'piezas2':piezasAdd.length==2,
                    'piezas3':piezasAdd.length==3,
                    'piezas4':piezasAdd.length>=4
                }">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6" *ngFor="let pie of piezasAdd">
                        <a href="javascript:void(0)" (click)="selectPiezaAdd(pie)" data-toggle="modal"
                          data-target="#ModalPieza">
                          <div matRipple [matRippleCentered]="centered" [matRippleColor]="'rgba(240, 1, 1, 0.486)'"
                            class="card" >
                            <div class=" card-header" >
                              <strong>
                                <h4 class="modal-title"  style="font-family: sans-serif;text-align: center;">{{pie.nombre}}</h4>
                              </strong>
                              <div style="margin:0 auto;">
                                <img [src]="pie.imagen" style="width: 100px; display: block;
                                margin-left: auto;
                                margin-right: auto;;" />
                                <strong>
                                  <h3 style="color: darkgreen; font-family: sans-serif;text-align: center;" class="card-title">${{valorStrint(pie.valor)}}</h3>
                                </strong>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Fecha :</label>
                  <!-- <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" (change)="changeFechaEntrega()" [positionTarget]="left"
                        placeholder="yyyy-mm-dd" name="fecha" [(ngModel)]="fecha" ngbDatepicker
                        #fecha_i="ngbDatepicker">
                      <div class="input-group-append">
                        <button type="button" class="btn btn-sm btn-success" (click)="fecha_i.toggle()">
                          <i class="material-icons">today</i>
                        </button>

                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="col-md-4">
                  <label>Fecha de Entrega:</label>
                  <div class="form-group">
                    <div class="input-group">
                      <!-- <input class="form-control" placeholder="yyyy-mm-dd" name="fechaEntrega"
                        [(ngModel)]="fechaEntrega" ngbDatepicker #fecha_e="ngbDatepicker"> -->
                      <div class="input-group-append">
                        <!-- <button type="button" class="btn btn-sm btn-success" (click)="fecha_e.toggle()">
                          <i class="material-icons">today</i>
                        </button> -->

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label>Ingresar el abono para este peidido:</label>
                  <mat-form-field>
                    <input matInput placeholder="Abono :" min="1" name="valorpieza" [(ngModel)]="abono.valor"
                      piezaSelect type="number" class="example-right-align">
                    <span matPrefix>$&nbsp;</span>
                    <span matSuffix>COP</span>
                  </mat-form-field>

                </div>

                <div class="col-md-12">
                  <h1 style="color: darkgreen;">${{totalValorString}}</h1>
                </div>
              </div>
              <button *ngIf="abonoValido" type="button" class="btn btn-warning" (click)="submitPedidoSinAbono()">Seguir sin abonar</button>
              <button mat-raised-button type="button" class="btn btn-success pull-right" (click)="submitPedidoAbono()">Guardar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <!-- </div>
</div> -->
<div mdbModal #modalPiezas="mdbModal" class="modal fade" (open)="openModal()" (close)="closeModal()" id="ModalPieza" tabindex="-1"
  role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <strong>
          <h2 class="modal-title" id="exampleModalScrollableTitle">{{piezaSelect.nombre}}</h2>
        </strong>
        <button type="button" class="close" (click)="modalPiezas.hide()"  aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <img [src]="piezaSelect.imagen" class="rounded" style="width: 100px;margin:0 auto;">
      </div>
      <div class="modal-body">
        <div class="row">
          <div cclass="col-12 col-sm-6" *ngFor="let med of piezaSelect.medidas">
            <div class="input-group input-group-lg" style="margin:10px;">
              <div class="btn btn-sm btn-success" style="width: 15px; border-radius: 10px 0px 0px 10px;height: 57px;">
                <span [matTooltip]="med.descripcion" aria-label="Button that displays a tooltip with a custom message"
                  class="input-group-text" style="color:white;margin-top: 10px;padding-right: 0px;
                  padding-left: 0px;" id="inputGroup-sizing-lg">{{med.nombre}}</span>
              </div>
              <mat-form-field [style.fontSize.px]="16" style="width:100px;" appearance="outline">
                <mat-label>{{med.descripcion}}</mat-label>
                <input matInput placeholder="Placeholder" min="1" name="med.descripcion" [(ngModel)]="med.valor"
                  required type="number">
                <span matSuffix>Cm</span>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12">
            <mat-form-field [style.fontSize.px]="20">
              <input matInput placeholder="Precio :" min="1" name="valorpieza" [(ngModel)]="piezaSelect.valor"
                piezaSelect type="number" class="example-right-align">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>COP</span>
            </mat-form-field>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div *ngIf="!piezaValida" class="col-sm-12 animated lightSpeedIn zoomOutDown">
            <div class="alert alert-warning" role="alert">
              {{mensg}}
            </div>
          </div>
          <div class="col-sm-16 animated lightSpeedIn ">
            <button *ngIf="eliminarPieza" mat-raised-button type="submit" (click)="eliminarPiezasAdd(piezaSelect)"
              class="btn btn-danger btn-round"><i class="material-icons">delete</i>Eliminar</button>
            <a href="javascript:void(0)" mat-raised-button (click)="modalPiezas.hide()"
              class="btn btn-warning btn-round"><i class="material-icons">undo

              </i>Cancelar</a>
            <button *ngIf="!eliminarPieza" mat-raised-button type="submit" (click)="addPieza()"
              class="btn btn-success btn-round"><i class="material-icons">save</i>Agregar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>